fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
passlib[bcrypt]
python-jose[cryptography]
pydantic
pydantic-settings
google-generativeai
pinecone-client
python-dotenv
python-multipart
pinecone
pydantic[email]
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
sentence-transformers